
body, h1 {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4b1db;
  color: #333;
}

header {
  background-color: #8fb5f1;
  color: #9b0411;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 32px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.thumbnails img {
  width: 100px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.thumbnails img:hover {
  transform: scale(1.1);
}

.display {
  margin-top: 20px;
}

.display img {
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #555;
  }




  